<h1>SPECIFIC PLANT</h1>
<p>This is a <%= @plantsroom.plant.name %>
<p><b>Location: </b><br>
<%= @plantsroom.room.locations.first.name %>
<p><b>Room: </b><br>
<%= @plantsroom.room.name %>
<p><b>Description: </b><br>
<%= @plantsroom.description %><br>

<br>
<%= form_for @plantsroom do |f| %>
<label><b>Edit Description:</b></label><br>
    <%= f.text_area :description %><br>
    <%= f.submit "Change Description" %>
    <%end%>


<%= render "footer"%>