<h1>Plant Page!</h1>
<h2><%= @plant.name %><br></h2>

<body>
<% if @plant.rooms.first != nil %>
    <div>This plant is currently in:</div> 
        <ul><% @plantsrooms.where(plant_id: @plant.id).each do |plant| %>
                <li><%= link_to plant.room.name, plant.room %></li>
        <% end %>
                </ul>

        <%= form_for @plant do |f| %>
        <%= f.collection_select :room_ids, @plant.location.rooms, :id, :name%>
        <%= f.submit "Change Room"%>
        <%end%>

        <% else %>
        <div>This plant is in no rooms!</div><br>
<% end %>
</body>


<%= button_to "Delete Plant", @plant, method: :delete %>

<div><%= link_to "Return to Plants", plants_path%></div>
<div><%= link_to "Return to Rooms", rooms_path%></div>