<h1>Rooms Page</h1>
<% @rooms.all.each do |room| %>
    <%= link_to room.name, room %><br>
    <% end %>
    <%= form_for @room do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "Create Room"%>
    <%end%>

  
<%= render "footer"%>