<h1><%=@room.name%></h1>
<% if @room.plants.first != nil%>
    <div>Current Plants:</div>
    <ul><% @room.plants.each do |plant| %>
        <li><%= link_to plant.name, plant %></li>
        <% end %>
    <% else %>
    <p>This room has no plants!</p>
<% end %>
</ul>

Add Plant to Room:
<%= form_for @plant do |f|%>
    <%= f.text_field :name %>
    <label>Plant Description:</label>
    <%= f.text_field :description %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <%= f.submit "Add Plant" %>
<%end%>


<%= render "footer"%>
