<h1>Location</h1>
<h2><%= @location.name %><br></h2>

<body>
<% if @location.rooms.first != nil %>
    <div>This place has:</div> 
        <ul><% @location.rooms.each do |room| %>
                <li><%= link_to room.name, room %></li>
        <% end %>
                </ul>
        <% else %>
        <div>No Rooms have been added to this location yet!</div><br>
<% end %><br>

<%= form_for @location do |f| %>
                <%= f.collection_select :room_ids, Room.all, :id, :name %>
                <%= f.submit "Add Room"%>
                <% end %>
</body>